@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.card {
  border-radius: 0;
  border: none;
}

.card-img {
  width: 100%;
  border-radius: 0;
}

.card-title {
  color: #f2f2f2;
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 5%;
  margin-top: 18%;
}

@media screen and (max-width: 900px) {
  .card {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 0;
  }

  .card-img {
    height: 100%;
  }

  .card-title {
    font-size: 3em;
  }
}

/* NAVBAR & FOOTER */
.NavItems {
  gap: 20px;
}

.ButtonProfile {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #299e63;
}

.FooterClass {
  bottom: 0;
  width: 100%;
  height: 175px;
  background-color: white;
  color: black;
}

.t-1 {
  font-size: 15px;
  font-weight: 400;
}
.flexOpt {
  width: 50%;
}
.WarnaIjo {
  color: #299e63;
}
.TitleArticle {
  margin-top: 11 0px;
}
#about {
  background-color: #f2f2f2;
}
p {
  color: #878787;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
}
/* AKHIR FOOTER */
