@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");

* {
  /* background-color: black; */
  /* overflow-x: auto; */
}

.body {
  background-color: black;
  width: 100%;
  /* overflow: auto; */
}

.kiri {
  margin-left: 10%;
}

.kanan {
  margin-right: 5%;
}

.kiri > p {
  font-size: 2rem;
  font-weight: 600;
}

.kiri > h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

.kanan > p {
  font-size: 3rem;
  font-weight: 600;
}

.kanan > h4 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 2%;
}

.SpecificButton {
  font-family: "Montserrat";
  margin-top: 3%;
  width: 280px;
  height: 50px;
}

.SpecificButtonLayanan {
  width: 200px;
  height: 50px;
}

.flex-row {
  margin-bottom: 5%;
  margin-top: 5%;
}

.bi {
  color: #299e63;
  font-family: "Inter";
  font-style: normal;
  font-size: xx-large;
  font-weight: 500;
}
.terakhir {
  margin-top: 3%;
}

.satu {
  margin-left: 5%;
  font-family: "Inter";
  color: #299e63;
  font-weight: 600;
}

hr {
  width: 35%;
  height: 2px;
  background-color: #299e63;
  margin-top: -3%;
}

.icon {
  display: inline-block;
}

.layanan {
  color: black;
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
}

.dua {
  text-align: center;
  justify-content: center;
}

.dua > p {
  font-size: 2rem;
  color: #299e63;
  font-weight: 600;
}

.dua > h4 {
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: 5%;
}

.tiga {
  text-align: center;
  justify-content: center;
}

.tiga > p {
  font-size: 2rem;
  color: #299e63;
  font-weight: 600;
}

.tiga > h4 {
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: 5%;
}

.card-img-overlay {
  text-align: center;
  /* margin-left: 16%; */
  margin-top: 4%;
  font-family: "Montserrat";
  color: white;
  font-weight: 800;
  font-size: 2.5rem;
}

/* .ml-1 {
  margin-left: ($spacer * 10) !important;
} */
